
/* First navigation bar */

.navbar1{
    /* background-color: blanchedalmond; */
    display: flex;
    /* justify-content: space-evenly; */
    height: 65px;
}

.logo svg{
    margin-top: 13px;
}
.search{
    /* background-color: blue; */
    margin-left: 1%;
}
.search input{
    margin-top: 12px;
    width: 500px;
    padding: 6px;
    padding-left: 35px;
    border: 1px solid rgb(210, 210, 210) ;
    border-radius: 5px;
}
#searchicon{
    position: relative;
    left: 10px;
    bottom: 33px;
}
.location{
    margin-left: 25%;
    display: flex;
    /* background-color: red; */
}
.location p,i{
    margin-top: 22px;
    width: 50px;
}
.location  i{
    font-size: 12px;
}
.signup input{
    margin-top: 15px;
    width: 65px;
    height: 30px;
    background-color: rgb(219, 65, 91);
    color: white;
    border: 1px solid rgb(219, 65, 91);
    border-radius: 6px;
}
.menu{
    /* background-color: red; */
    margin-top: 15px;
    margin-left: 2%;
}
.menu i{
    font-size: 25px;
}

/* Second navigation bar */

.navbar2{
    background-color: whitesmoke;
}
.navbar2_1{
    display: flex;  
}
.navbar2_1 p{
    margin-top: 5px;
    margin-left: 10px;
}
.rightside{
    display: flex;
    margin-left:43%;
}
.rightside p{
    font-size: 12px;
    margin-top: 15px;
}
.leftside{
    display: flex;
}
.leftside p{
    margin-top: 10px;
}

/* Ads Carousel */

.ads{
    margin-top: 20px;
}
.carousel{
    height: 300px;
}
.carousel-item img{
    height: 300px;
    border-radius: 15px;
}

/* Movies bar1 */
.movies1{
    margin-top: 20px;
}

.heads{
    display: flex;
    /* background-color: aliceblue; */
}
.headslast{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 68%;
    color: red;
}
.headslast i{
    margin-top: -8px;
    margin-left: 5px;
    font-size: 13px;
}
.heads p{
    font-size: 25px;
    font-weight: 700;
}
.headslast p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}

/* Movie Template */

.movie_slides{
    display: flex;
    overflow: scroll;
}
.template img{
    height: 378px;
    border-radius: 11px;
}
.head p{
    font-size: 18px;
    font-weight: 500;
}
.genere p{
    font-size:15px ;
    margin-top: -15px;
    color: grey;
    font-weight: 400;
}

/* Ad 2 */
.ads2{
    margin-top: 100px;
}

.ads2 img{
    height: 93px;
}

/* Ad 3 */
.ads3{
    margin-top: 100px;
}
.ads3 p{
    font-size: 23px;
    font-weight: 700;
}
.templates{
    display: flex;
}
.templates img{
    height: 222.4px;
    border-radius: 15px;
}

/* Premiere page */

.premiere{
    background-color: rgb(43, 49, 72);
    color: rgb(255, 255, 255);
    margin-top: 50px;
}
.premiere_in .logo img{
    border-radius: 50%;
    height: 60px;
}
.s_dis{
    margin-left: 20px;
}
.premiere_mainlogo .s_dis p{
    font-size: 25px;
    font-weight: 700;
}
#s_disc{
    font-size: 15px;
    font-weight: 400;
    margin-top: -20px;
}
.premiere_mainlogo{
    display: flex;
    position: relative;
    top: 30px;
}
.premiere_template{
    margin-top: 60px;
}
.temp_head p{
    font-size: 25px;
    font-weight: 700;
}
#temp_disc{
    font-size: 15px;
    font-weight: 400;
    margin-top: -20px;
}